@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 3rem;
    padding: 0rem 2rem 0rem 2rem;
}

.listData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    height: 35rem;
    width: 20rem;
    box-shadow: 7px 3px 31px -11px rgba(0,0,0,0.48);
    border-radius: 1rem;
}

.cakebook {
    cursor: pointer;
}

.container-filterByIngredient {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
}

.container-recipeImg {
    display: flex;
    justify-content: center; 
    cursor: pointer;  
}

.recipeImg {
    display: flex;
    justify-content: center;
    max-height: 90%;
    max-width: 100%; 
}

.container-recipeName {
    height: 1%;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
}

.recipeName, .cakebook {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.recipeName {
    font-size: 2rem;
}

.cakebook {
    font-size: 2.5rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 7px 3px 31px -11px rgba(0,0,0,0.20);

}

.filterByIngredient {
    height: 2rem;
    width: 10rem;
    background-color: #e3dad5;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 7px 3px 31px -11px rgba(0,0,0,0.20);
}

.searchBtn {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    height: 2rem;
    width: 5rem;
    background-color: #e3dad5;    
    border-style: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 7px 3px 31px -11px rgba(0,0,0,0.20);

}
/* .container-seeRecipeBtn {
    display: flex;
    justify-content: center;
}

.seeRecipeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 10rem;
    height: 1.5rem;
    background-color: white;
    border-style: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 7px 3px 31px -7px rgba(0,0,0,0.78);
}*/