.container-recipeImage {
    display: flex;
    justify-content: center;
    height: 40rem;
}

.container-ingredients {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.ingredientsList {
    height: 12rem;
    width: 40rem;
    line-height: 2rem;
}

.container-steps {
    display: flex;
    justify-content: center;
}

.steps {
    height: 20rem;
    width: 60rem;
    line-height: 2rem;
    margin-top: 2rem;
}
